@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @todo: use next recommended way to handle local fonts */
  @font-face {
    font-family: "Vremena Grotesk";
    font-style: normal;
    font-weight: 400;
    src:
      local("Vremena Grotesk Book"),
      url("/fonts/VremenaGroteskBook.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Vremena Grotesk";
    font-style: italic;
    font-weight: 400;
    src:
      local("Vremena Grotesk Book Italic"),
      url("/fonts/VremenaGroteskBookItalic.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Vremena Grotesk";
    font-style: normal;
    font-weight: 600;
    src:
      local("Vremena Grotesk Regular"),
      url("/fonts/VremenaGrotesk.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Vremena Grotesk";
    font-style: normal;
    font-weight: 700;
    src:
      local("Vremena Grotesk Medium"),
      url("/fonts/VremenaGroteskMedium.woff") format("woff");
    font-display: swap;
  }

  * {
    box-sizing: border-box;
  }

  html {
    font-family: theme("fontFamily.sans");
    color: theme("colors.text");
    font-size: theme("fontSize.18");
    line-height: theme("lineHeight.tight");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  /*
    when page's content is centered, navigation between pages w/ and w/o the scrollbar
    causes the jumping effect. fix by adding additional margin to the left side of the page
    <https://aykevl.nl/2014/09/fix-jumping-scrollbar>
  */
  @media screen and (min-width: theme("screens.md")) {
    html {
      margin-left: calc(100vw - 100%);
      margin-right: 0;
    }
  }

  body {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  a:hover {
    color: theme(colors.green);
    transition: color 0.2s ease-in-out;
  }

  h1 {
    font-size: theme("fontSize.28");
    line-height: theme("lineHeight.normal");
    font-weight: theme("fontWeight.bold");
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: theme("letterSpacing.tight");
  }

  p {
    font-size: 16px;
    color: theme("colors.gray.900");
    line-height: theme("lineHeight.normal");
    /* text-wrap: pretty; */
  }

  p a {
    color: theme("colors.green");
    text-decoration: underline;
  }

  ::selection {
    background: theme("colors.lime");
  }

  ::-moz-selection {
    background: theme("colors.lime");
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
