@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: theme("fontFamily.sans");
    color: theme("colors.text");
    font-size: theme("fontSize.18");
    line-height: theme("lineHeight.tight");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  /*
    when page's content is centered, navigation between pages w/ and w/o the scrollbar
    causes the jumping effect. fix by adding additional margin to the left side of the page
    <https://aykevl.nl/2014/09/fix-jumping-scrollbar>
  */
  @media screen and (min-width: 720px) {
    html {
      margin-left: calc(100vw - 100%);
      margin-right: 0;
    }
  }

  body {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  a:hover {
    color: theme("colors.green.400");
    transition: color 0.2s ease-in-out;
  }

  article a:hover {
    color: theme("colors.green.500");
  }

  h1 {
    font-size: theme("fontSize.28");
    line-height: theme("lineHeight.normal");
    font-weight: theme("fontWeight.semibold");
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: theme("letterSpacing.tight");
  }

  p {
    font-size: 16px;
    color: theme("colors.gray.900");
    line-height: theme("lineHeight.normal");
    text-wrap: pretty;
  }

  p a {
    color: theme("colors.green.400");
    text-decoration: underline;
  }

  a[rel="nofollow noopener"] {
    display: inline-block;
  }

  a[rel="nofollow noopener"]:after {
    content: "";
    background-color: theme("colors.text");
    mask-image: url("/icons/external.svg");
    background-size: cover;
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 6px;
  }

  a[rel="nofollow noopener"]:hover:after {
    background-color: theme("colors.green.400");
    transition: background-color 0.2s ease-in-out;
  }

  article a[rel="nofollow noopener"]:after {
    background-color: theme("colors.green.400");
  }

  article a[rel="nofollow noopener"]:hover:after {
    background-color: theme("colors.green.500");
  }

  ::selection {
    background: theme("colors.green.100");
  }

  ::-moz-selection {
    background: theme("colors.green.100");
  }
}
